@tailwind base;
@tailwind components;
@tailwind utilities;



/* HOME PAGE */

.wrapper{
    @apply p-2 min-h-screen
}

.headerHome{
    @apply sm:justify-between sm:flex-row flex-col-reverse items-end justify-center flex w-full p-2
}

.chatName{
    @apply sm:text-4xl text-2xl font-bold
}

.account{
    @apply flex gap-4 items-center
}

.name{
    @apply font-bold sm:text-4xl text-3xl
}

.changeAv{
    @apply account flex flex-col justify-center text-center bg-gray-300 py-2 rounded-md px-2 duration-500
}

.createRoom{
    @apply account flex flex-col justify-center text-center  py-2 rounded-md px-2 duration-500
}

.avatarImg{
    @apply w-10 h-10 rounded-full
}

/* homa page main */

.about{
    @apply account flex flex-col justify-center text-center  py-2 rounded-md px-2 duration-500
}

.mainHome{
    @apply flex pt-8 sm:pt-16 sm:flex-row flex-col  justify-center gap-5 items-center flex-wrap
}

.rooms{
    @apply  flex flex-col items-center gap-2  duration-1000 hover:scale-110 
}

/* .pannelRoom{
    @apply sm:w-80 sm:h-450 border-4 w-72 rounded-lg border-black
} */

.plusCont{
    @apply duration-500 active:scale-100 hover:scale-110
}

.plus{
    @apply  w-20 h-20 cursor-pointer rounded-full
}

.settings{
    @apply flex flex-col items-center gap-2 duration-1000 hover:scale-110
}

.pannelRoom{
    @apply  sm:w-80 sm:h-450 h-82 w-72 border-4 rounded-lg border-black 
}

.footerHome{
    @apply sm:pt-20 pt-10 flex justify-center items-center;
    font-weight: bold;
}

.f-group{
    @apply cursor-pointer bg-red-500 bg-gradient-to-r from-red-500 to-lime-400 px-3 py-1 rounded-xl text-lg font-bold w-full;
}

/* main page */

.daysList{
    @apply pt-12 sm:pt-28 flex gap-5 justify-center flex-wrap
}

.day{
    @apply rounded-xl w-24 h-32 sm:w-32 sm:h-48 duration-500 hover:scale-110 overflow-hidden break-words border-gray-400 border-4 px-2 sm:pt-2
}

.controolPanel{
    @apply w-full sm:w-3/4 lg:w-1/2  flex justify-between rounded-xl border-black border-4 mt-14 sm:mt-24 p-2 m-auto flex-col sm:flex-row
}

.dayPanel{
    @apply rounded-xl p-2 w-full sm:w-1/2 mr-2 mb-2 sm:mb-0
}

.otherSettingsPanel{
    @apply w-full sm:w-1/2 sm:border-l-2 sm:border-t-0 border-t-2 border-black sm:pl-2 flex flex-col justify-between pt-2 sm:pt-0
}

.buttonCP{
    @apply p-2 lg:text-lg font-bold rounded-lg border-2 border-black
}

.findLine{
    @apply bg-transparent border-black border-2 p-1 rounded-tl-md focus:outline-0 w-44
}

.findButton{
    @apply flex-1 border-black border-2 font-bold -ml-1 border-l-0 rounded-tr-md focus:outline-0
}

.sendMessageButtons{
    @apply px-2 py-1 duration-500 bg-gray-400 hover:bg-white border border-black text-lg rounded-md
}

.removeBlock{
    @apply account flex flex-col justify-center text-center bg-gray-300 py-2 rounded-md px-2 duration-1000
}


/* scroll bar settings */

.scrollbar-rooms::-webkit-scrollbar{
    @apply w-3
}

.scrollbar-rooms::-webkit-scrollbar-track{
    @apply bg-slate-400
}

.scrollbar-rooms::-webkit-scrollbar-thumb{
    border: 2px solid rgb(148 163 184);
    @apply bg-gray-500 rounded-lg
}

/* pass styles */

.password-fieled::-ms-reveal,
.password-fieled::-ms-clear{
    display: none;
}
